.header {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    position: sticky;
    color: black;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.back-btn {
    margin-right: 10px;
    cursor: pointer;
}

.school-title {
    flex: 1;
    margin-top: 10px;
}

.rating {
    display: flex;
    align-items: center;
    color: #f1c40f; /* Star color */
}

.banner {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    display: block;
}

.details-container {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-section {
    margin-bottom: 20px;
}

.section-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.section-title svg {
    margin-right: 10px;
    vertical-align: middle;
}

.detail-content {
    line-height: 1.5;
}

.contact-item {
    margin-bottom: 10px;
    cursor: pointer;
    color: #3498db; /* Link color */
}

.contact-item svg {
    margin-right: 5px;
    vertical-align: middle;
}

.contact-item:hover {
    text-decoration: underline;
}

.footer-schools {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.book-appointment-btn {
    background-color: #000000; /* Button background color */
    color: #ffffff; /* Button text color */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center; /* Center the text */
    width: 50%; /* Set width to 50% of the container */
    margin-left: auto; /* Auto margin left pushes the button to the right */
    display: block; /* Ensures it's a block element */
}

.video-container {
    margin-top: 10px;
}

.video-container video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.loading::after {
    content: '...';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: #333;
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: .25em 0 0 #333, .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
        text-shadow: .25em 0 0 #333, .5em 0 0 #333;
    }
}