/* Header styling */
.header {
  background-color: #181818; /* Dark background for better contrast */
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 10px;
}

/* Profile section */
.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 30px; /* Increased size for better visibility */
  height: 30px; /* Increased size for better visibility */
  margin-right: 10px;
  border-radius: 50%;
}

.search-bar {
  padding: 10px;
  border: none;
  border-radius: 15px;
  width: 90%; /* Slightly wider for better usability */
  font-size: 14px;
  background-color: #333; /* Darker background for better contrast */
  color: #fff;
  outline: none;
  margin-left: 10px;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.search-bar::placeholder {
  color: #bbb; /* Slightly darker placeholder color */
}

.search-bar:hover {
  background-color: #666; /* Darker background on hover */
}


/* Footer styling */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80%;
  background-color: #181818;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  opacity: 90%;
  margin-left: 10px;
  border-radius: 25px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.footer-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.footer-btn:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}