/* SlidingBar.css */
.sliding-bar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
    color: rgb(0, 0, 0);
}

.sliding-bar.open {
    left: 0;
}

.sliding-bar-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sliding-bar-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background: none;
    border: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.sliding-bar-btn svg {
    margin-right: 10px;
}

.close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}