.signup-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 25px;
    background-color: #181818;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.input-container-login {
    position: relative;
    margin-bottom: 15px;
}

.input-container-login .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
}

.input-container-login input {
    width: calc(100% - 30px);
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

.toggle-password-login {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
}

.toggle-password-login:hover {
    color: #333;
}


.links-login {
    text-align: center;
    margin-top: 20px;
}

.links-login a {
    color: #007bff;
    text-decoration: none;
}

.links-login a:hover {
    text-decoration: underline;
}